.navigation-links-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.navigation-links-text1 {
  margin-left: var(--dl-space-space-twounits);
}
.navigation-links-text2 {
  margin-left: var(--dl-space-space-twounits);
}
.navigation-links-text3 {
  margin-left: var(--dl-space-space-twounits);
}
.navigation-links-text4 {
  margin-left: var(--dl-space-space-twounits);
}








@media(max-width: 767px) {
  .navigation-links-nav {
    align-items: flex-start;
    flex-direction: column;
  }
  .navigation-links-text {
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-text1 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-text2 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-text3 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-text4 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
}

.testimonial-card3-testimonial-card {
  display: flex;
  padding: var(--dl-space-space-twounits);
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  flex-direction: column;
}
.testimonial-card3-icon {
  width: var(--dl-size-size-small);
  margin-bottom: var(--dl-space-space-twounits);
}
.testimonial-card3-testimonial {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.testimonial-card3-text {
  color: var(--dl-color-gray-500);
  font-size: 1.25rem;
  text-align: center;
  margin-bottom: var(--dl-space-space-threeunits);
}
.testimonial-card3-image {
  width: var(--dl-size-size-medium);
  height: var(--dl-size-size-medium);
  object-fit: cover;
  flex-shrink: 0;
  border-radius: var(--dl-radius-radius-round);
  margin-bottom: var(--dl-space-space-halfunit);
}
.testimonial-card3-text1 {
  font-size: 1.5rem;
  font-weight: 300;
}
@media(max-width: 767px) {
  .testimonial-card3-icon {
    height: var(--dl-size-size-small);
  }
}
@media(max-width: 479px) {
  .testimonial-card3-testimonial-card {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
}

.home-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.home-header {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.home-image {
  height: 2rem;
  object-fit: cover;
}
.home-nav {
  display: flex;
}
.home-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.home-icon02 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.home-icon04 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.home-burger-menu {
  display: none;
}
.home-icon06 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  display: none;
}
.home-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.home-nav1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-container01 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.home-image1 {
  height: 2rem;
}
.home-close-mobile-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-icon08 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.home-icon10 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.home-icon12 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.home-icon14 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.home-hero {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  position: relative;
  min-height: 80vh;
  align-items: center;
  flex-direction: column;
  background-size: cover;
  justify-content: center;
  background-color: #D9D9D9;
  background-image: url('https://res.cloudinary.com/dklongley/image/upload/v1554215305/AG2/portofino8.jpg');
  background-position: bottom;
}
.home-container02 {
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.home-text {
  color: #ffffff;
  font-size: 3rem;
  max-width: 25rem;
  text-shadow: 1px 1px 2px black;;
}
.home-text01 {
  color: rgb(253, 253, 253);
  padding: var(--dl-space-space-unit);
  font-size: 1.15rem;
  max-width: 40%;
  margin-top: var(--dl-space-space-threeunits);
  text-shadow: 1px 1px 2px black;;
  margin-bottom: var(--dl-space-space-threeunits);
  background-color: rgba(68, 64, 64, 0.35);
}
.home-button {
  color: var(--dl-color-gray-white);
  font-style: normal;
  text-align: center;
  transition: 0.3s;
  font-weight: 400;
  padding-top: var(--dl-space-space-unit);
  border-width: 0px;
  margin-right: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-twounits);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-unit);
  background-color: #e70e12;
}
.home-button:hover {
  transform: scale(1.02);
}
.home-steps {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  flex-direction: column;
}
.home-text06 {
  color: var(--dl-color-gray-black);
  font-size: 3rem;
  margin-bottom: var(--dl-space-space-unit);
}
.home-container03 {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.home-container04 {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.home-step {
  display: flex;
  padding: var(--dl-space-space-oneandhalfunits);
  align-items: center;
  flex-direction: column;
}
.home-text08 {
  color: var(--dl-color-gray-900);
  font-size: 6rem;
  text-align: center;
  font-weight: 900;
  margin-bottom: -30px;
}
.home-text10 {
  font-size: 1.15rem;
  font-weight: 500;
}
.home-text13 {
  color: var(--dl-color-gray-500);
  font-size: 0.75rem;
  margin-top: var(--dl-space-space-oneandhalfunits);
  text-align: center;
}
.home-step1 {
  display: flex;
  padding: var(--dl-space-space-oneandhalfunits);
  align-items: center;
  flex-direction: column;
}
.home-text18 {
  color: var(--dl-color-gray-900);
  font-size: 6rem;
  text-align: center;
  font-weight: 900;
  margin-bottom: -30px;
}
.home-text20 {
  font-size: 1.15rem;
  font-weight: 500;
}
.home-text22 {
  color: var(--dl-color-gray-500);
  font-size: 0.75rem;
  margin-top: var(--dl-space-space-oneandhalfunits);
  text-align: center;
}
.home-container05 {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.home-step2 {
  display: flex;
  padding: var(--dl-space-space-oneandhalfunits);
  align-items: center;
  flex-direction: column;
}
.home-text27 {
  color: var(--dl-color-gray-900);
  font-size: 6rem;
  text-align: center;
  font-weight: 900;
  margin-bottom: -30px;
}
.home-text29 {
  font-size: 1.15rem;
  font-weight: 500;
}
.home-text32 {
  color: var(--dl-color-gray-500);
  font-size: 0.75rem;
  margin-top: var(--dl-space-space-oneandhalfunits);
  text-align: center;
}
.home-step3 {
  display: flex;
  padding: var(--dl-space-space-oneandhalfunits);
  align-items: center;
  flex-direction: column;
}
.home-text37 {
  color: var(--dl-color-gray-900);
  font-size: 6rem;
  text-align: center;
  font-weight: 900;
  margin-bottom: -30px;
}
.home-text39 {
  font-size: 1.15rem;
  font-weight: 500;
}
.home-text41 {
  color: var(--dl-color-gray-500);
  font-size: 0.75rem;
  margin-top: var(--dl-space-space-oneandhalfunits);
  text-align: center;
}
.home-container06 {
  flex: initial;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  max-width: var(--dl-size-size-maxwidth);
  align-items: flex-start;
  justify-content: flex-start;
}
.home-container07 {
  flex: initial;
  width: 50%;
  height: 400px;
  display: flex;
  padding: var(--dl-space-space-twounits);
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.home-text46 {
  margin-top: var(--dl-space-space-twounits);
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-unit);
}
.home-text47 {
  padding-top: var(--dl-space-space-oneandhalfunits);
  padding-left: var(--dl-space-space-oneandhalfunits);
  padding-right: var(--dl-space-space-oneandhalfunits);
  padding-bottom: var(--dl-space-space-oneandhalfunits);
}
.home-container08 {
  flex: initial;
  width: 50%;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-image2 {
  flex: auto;
  width: 652px;
  height: 433.58px;
  object-fit: cover;
}
.home-testimonial {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  flex-direction: column;
}
.home-text48 {
  color: var(--dl-color-gray-black);
  font-size: 3rem;
}
.home-text50 {
  color: var(--dl-color-gray-black);
  font-size: 1.15rem;
  max-width: 600px;
  margin-top: var(--dl-space-space-twounits);
  text-align: center;
  margin-bottom: var(--dl-space-space-twounits);
}
.home-container09 {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}
.home-footer {
  width: 100%;
  display: flex;
  max-width: 100%;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
  background-color: #D9D9D9;
}
.home-container10 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
  background-color: #D9D9D9;
}
.home-logo {
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: flex-start;
  flex-direction: column;
}
.home-image3 {
  height: 2rem;
}
.home-text52 {
  margin-top: var(--dl-space-space-oneandhalfunits);
}
.home-links-container {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.home-container11 {
  display: flex;
  align-items: flex-start;
  margin-right: 10rem;
  flex-direction: row;
  justify-content: space-between;
}
.home-product-container {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  margin-right: 10rem;
  flex-direction: column;
  justify-content: flex-start;
}
.home-text58 {
  font-weight: 700;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.home-text59 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-text60 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-text61 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-company-container {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.home-text63 {
  font-weight: 700;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.home-text64 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-text65 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-text66 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-container12 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.home-contact {
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  justify-content: flex-start;
}
.home-text68 {
  font-weight: 700;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.home-text69 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-socials {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.home-text71 {
  font-weight: 700;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.home-icon-group2 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.home-icon16 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-unit);
}
.home-icon18 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-unit);
}
.home-icon20 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.home-separator {
  width: 100%;
  height: 1px;
  margin-top: var(--dl-space-space-twounits);
  margin-bottom: var(--dl-space-space-twounits);
  background-color: var(--dl-color-gray-900);
}
.home-text72 {
  align-self: center;
}
.home-text74 {
  text-align: left;
}
@media(max-width: 991px) {
  .home-icon06 {
    display: flex;
  }
  .home-text06 {
    text-align: center;
  }
  .home-text08 {
    text-align: center;
  }
  .home-text10 {
    text-align: center;
  }
  .home-text18 {
    text-align: center;
  }
  .home-text20 {
    text-align: center;
  }
  .home-text27 {
    text-align: center;
  }
  .home-text29 {
    text-align: center;
  }
  .home-text37 {
    text-align: center;
  }
  .home-text39 {
    text-align: center;
  }
  .home-text48 {
    text-align: center;
  }
  .home-text50 {
    text-align: center;
  }
  .home-container09 {
    flex-direction: column;
  }
  .home-footer {
    flex-direction: column;
  }
  .home-container11 {
    margin-right: var(--dl-space-space-fourunits);
  }
  .home-product-container {
    margin-right: var(--dl-space-space-fourunits);
  }
}
@media(max-width: 767px) {
  .home-header {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .home-nav {
    display: none;
  }
  .home-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .home-hero {
    align-items: center;
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .home-text {
    text-align: center;
  }
  .home-text01 {
    max-width: 100%;
    text-align: center;
    padding-left: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
  }
  .home-steps {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .home-container03 {
    flex-direction: column;
  }
  .home-step {
    padding: var(--dl-space-space-unit);
  }
  .home-step1 {
    padding: var(--dl-space-space-unit);
  }
  .home-step2 {
    padding: var(--dl-space-space-unit);
  }
  .home-step3 {
    padding: var(--dl-space-space-unit);
  }
  .home-container06 {
    flex-direction: column;
  }
  .home-container07 {
    order: 1;
    width: 100%;
  }
  .home-container08 {
    order: 0;
    width: 100%;
  }
  .home-testimonial {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .home-footer {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .home-container10 {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .home-logo {
    align-items: center;
  }
  .home-image3 {
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .home-text52 {
    margin-top: var(--dl-space-space-twounits);
    text-align: center;
    margin-bottom: var(--dl-space-space-twounits);
  }
  .home-links-container {
    width: 100%;
    align-items: flex-start;
    flex-direction: row;
    justify-content: center;
  }
  .home-container11 {
    margin-right: var(--dl-space-space-fourunits);
  }
  .home-product-container {
    margin-right: var(--dl-space-space-fourunits);
  }
}
@media(max-width: 479px) {
  .home-header {
    padding: var(--dl-space-space-unit);
  }
  .home-icon-group {
    display: none;
  }
  .home-mobile-menu {
    padding: 16px;
  }
  .home-hero {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .home-text01 {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .home-button {
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-steps {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .home-container04 {
    flex-direction: column;
  }
  .home-container05 {
    flex-direction: column;
  }
  .home-testimonial {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .home-footer {
    padding: var(--dl-space-space-unit);
  }
  .home-container10 {
    align-items: center;
    flex-direction: column;
  }
  .home-image3 {
    margin-bottom: 0px;
  }
  .home-text52 {
    margin-top: var(--dl-space-space-twounits);
    margin-bottom: var(--dl-space-space-twounits);
  }
  .home-links-container {
    align-items: center;
    flex-direction: column;
  }
  .home-container11 {
    margin-right: 0px;
  }
  .home-container12 {
    margin-top: var(--dl-space-space-oneandhalfunits);
    align-items: flex-start;
    margin-bottom: 0px;
  }
  .home-contact {
    align-items: flex-start;
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-text72 {
    text-align: center;
  }
}
